<div class="page-header"><h1>Upload Record</h1></div>

<%= form_for @maint_record, html: { multipart: true } do |f| %>
  <% if @maint_record.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{pluralize(@maint_record.errors.count, "error")} prohibited this photo from being saved:" %>
      </h2>
      <ul>
        <% @maint_record.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
          <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.hidden_field(:car_id, :value => @car_id) %>
  
  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class: 'form-control' %>
  </div>

  <div class="form-group">
        <%= f.submit 'Upload Photo', class: 'btn btn-default' %>
    </div>
<% end %>
