<h1> Create Your Account!</h1>
<%= form_for @user do |f| %>
    <label>Username:</label><br>
    <%= f.text_field :name %><br>

    <label> Password </label><br>
    <%= f.password_field :password %><br>

    <label> Password Confirmation </label><br>
    <%= f.password_field :password_confirmation %><br>


    <%= f.submit %>
    <br>
<% end %>