<div align="center">

<h2><%= "#{@car.year} #{@car.make} #{@car.model}" %></h2>
<h4><%= @car.name %></h4>
</div>


<br>
  <% @photos.each do |photo| %>
    <div class="media-left">
      <!-- Renders image -->
      <%= link_to image_tag(photo.image.url, class: 'media-object'), photo.image.url %>
      <!-- Button to delete image -->
  <br>
  <h4>&nbsp;&nbsp;&nbsp;&nbsp;Description</h4>
   <p>&nbsp;&nbsp;&nbsp;&nbsp;<%= @car.description %></p>
   <br>
   <br>
    <%= link_to "Add Maintenance Record / More Photos", :controller => :maint_records, :action => :new, id: @car.id %>
    <br>
   <%= link_to "Edit #{@car.name}", cars_edit_path(:id => @car.id) %>
    <br><br>
    <%= link_to 'Remove', photo_path(photo), class: 'btn btn-danger', method: :delete, data: {confirm: 'Are you sure?'}%>
    </div>
    <div class="media-body">
    </div>
  <% end %>

<% @maint_records.each do |photo| %>
  <div class="media-left">
    <!-- Renders image -->
    <%= link_to image_tag(photo.image.url, class: 'media-object'), photo.image.url%>
    <br>
    <%= link_to 'Remove', maint_record_path(photo), class: 'btn btn-danger', method: :delete, data: {confirm: 'Are you sure?'} %>
  </div>
  <div class="media-body">

  </div>
<% end %>
